<div id="page">
	<% INCLUDE menu.tt %>
        <div id="inhalt">
          <h1>Geschichte des PCI</h1>
              <p>
	Im Jahr 2004 wurde das Pfeifenrauchen zum Hobby von Richard und Edgar.</br>
	</br>
	Richard Baggenstos erfreute sich so sehr an diesen edlen Objekten, dass er schliesslich beschloss, selber Pfeifen herzustellen. Anfangs fertigte er die Pfeifen aus Nussbaumholz. Auch die Mundstücke wurden aus Holz gefertigt! Nach einem Besuch in St. Claude (Frankreich) im 2005 entschloss er sich, seine Pfeifen künftig aus dem hochwertigen Bruyère-Holz herzustellen, welches er bis heute aus Frankreich bezieht. Auch die Mundstücke aus Ebonit fertigt Richard komplett von Hand. So ist jede seiner Freehand Pfeifen ein kleines Meisterwerk. Mehr zu seinen Pfeifen unter <a href="/richis-pfeifen">Richis Pfeifen</a>.</br>
	</br>
	Schliesslich erfreuten sich immer mehr Personen in unserem Kollegenkreis dem angenehmen Ambiente des Pfeifenrauchens. Nach und nach wurde es sogar zu einem richtigen Live Style.</br>
	</br>Nach einem zweiten Besuch in St. Claude im Sommer 2006 fassten wir uns endlich ein Herz und verwirklichten unsere Vision von einem eigenen Pfeifenclub.
	</br>
	</br>Schliesslich wurde der Pfeifenclub Innerschwyz offiziell am 2. August 2006 von fünf jungen Pfeifenenthusiasten gegründet.
	</br>
	</br>Schon nach kurzer Zeit zeigte sich, dass wir nicht die einzigen Pfeifenliebhaber der Region sind und so gesellten sich weitere Personen in unsere Rauchergilde.
	</br>
	</br>An der Delegiertenversammlung des Pfeifen Club Schweiz vom 26. April 2008 wurden wir offiziell in den Verband aufgenommen.
	</br>
	</br>Zur Zeit zählt unser Club 14 Aktivmitglieder, sowie 3 Passivmitglieder (Stand: 03.03.2018).
	</br>
	</br>Wir hoffen, dass wir in Zukunft noch weitere Pfeifenraucher in unserem Club begrüssen dürfen.
				
              </p>
        </div>
      </div>
    </div>
