<div id="page">
	<% INCLUDE menu.tt %>
        <div id="inhalt">
          <h1>Richi's Pfeifen</h1>
              <p>
              	<br/>
				by Richard Baggenstos<br/>
<br/>
				<i>White Dog Freehand-Pfeifen sind besondere Pfeifen für besondere Menschen…</i><br/>
<br/>
				Richard Baggenstos fertigt seine Pfeifen ausschliesslich aus ausgewählten Bruyère-Plateaux-Kanteln. Die Mundstücke werden aus Ebonitstangen komplett von Hand geformt.<br/>
<br/>
				Die Pfeifen von Richard sind in ihrer Machart und Formgebung absolut professionell. Jede seiner Pfeifen ist ein Meisterwerk und braucht keinen Vergleich mit den Pfeifen anderer Spitzen-Freehand Pfeifenmanchern zu scheuen.<br/>
<br/>

				<b>Eld Pipes:</b> Pfeifen mit skandinavischen Formen, aber auch solche welche sich keiner Kategorie zuordnen lassen (Fantasy). Alle Pfeifen der Eld- Serie weisen eine glatte Oberfläche auf. Pfeifenkopf aus Bruyère und Mundstück aus Ebonit. 100% Freehand.<br/>

<br/>
				<b>La Mignonne:</b> Auch diese Pfeifen werden mit glatten Oberflächen hergestellt. In ihrer Formgebung sind sie der englischen und französischen Klassik verbunden. Auch sie sind zu 100% Freehand. Kopf aus Bruyère und das Mundstück aus Ebonit.<br/>
<br/>
				<b>Deerstalker:</b> Die Deerstalker Freehand Linie beinhaltet Formen aus englischer, dänischer, französischer Klassik sowie freien Formen. Deerstalker Pfeifen sind meist teil- oder voll- Sandgestrahlt. Kopf und Mundstück werden auch bei diesen Pfeifen in reiner Handarbeit aus dem vollen Material hergestellt.<br/>
<br/>

				<b>Qualität:</b> Verarbeitung und Präzision bewegen sich auf absolut höchstem Niveau, was auch mehrere nahmhafte Pfeifenmacher aus St. Claude bestätigt haben. Da Richard ein Perfektionist ist achtet er streng darauf, dass seine Spitzenpfeifen möglichst eine Straigth Grain-, Cross Grain- oder gar eine Bird Eyes-Maserung haben. Alle Bohrungen sitzen exakt dort, wo sie hingehören. Die perfekten Oberflächen der Pfeifen lässt sie zu wahren Handschmeichlern werden. Da Bruyère jedoch ein Naturprodukt ist, lassen sich kleinere Einschlüsse (Spots) nicht vorhersehen. Solche Stellen jedoch auszukitten kommen bei ihm nicht in Frage.<br/>
<br/>
				Weitere Bilder seiner Pfeifen sind <a href="https://pipedia.org/wiki/White_Dog_Freehand_Pipes">hier</a> ersichtlich.

              </p>
			<p><img src="/images/alvar.jpg" border="0"/><img src="/images/ragnar.jpg" border="0"/><img src="/images/skuld.jpg" border="0"/></p>
			
        </div>
      </div>
    </div>
