<div id="page">
	<% INCLUDE menu.tt %>
        <div id="inhalt">
          <h1>Veranstaltungen</h1>
   				<p>
				<ul>	
					<li><a href="/pdf/Jahresprogramm2020.pdf" title="Jahresprogramm 2020">Jahresprogramm 2020 als PDF</a></li>
				</ul>
				</p>	
           
      </div>
    </div>
